body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
    padding: 40px;
}


.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-style: sombre;
    padding: 10px 30px;
    line-height: 60px;
    z-index: 100;
    background-color: #222;

}

* {
        box-sizing: border-box;
}

.navbar .logo{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.navbar ul{
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.navbar ul li{
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
}


.navbar ul li a{
    display: block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    transition: background-colr 0.3s ease;
}
.navbar ul li a:hover {
  background-color: #2ddfc1;
}

.contenu{
    padding-top: 60px;
}

.section {
    padding: 40px 20px;
    border-bottom:  1px solid #ccc;
}

