
h2 +p{
    color: rgb(0, 2, 1);
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 50px;
}

h2{
   font-size: 30px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    font: size 20px;;
}
a:hover{
    color: rgba(123, 228, 18, 0.904); font-size: medium;
}

a :focus-visible{
    font-style: normal;
}
 /* mon commentaire*/

 input[type="text"][required]{
    background: rgb(127, 181, 206);
 }

 input[type="password"]{
     border:2px solid; background-color: gray;
 }

button:hover{
    color: firebrick;
} 

