/* RESET SIMPLE */
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background:#836060;
  color:#1f0c0c;
  line-height:1.5;
}
/* MODE SOMBRE */
@media (prefers-color-scheme: dark){

  body{
    background:#121212;
    color:#e5e5e5;
  }

  .profil{
    background:#1e1e1e;
  }

  .projet{
    background:#2a2a2a;
  }

  .tag{
    background:#333;
    color:#ddd;
  }

  .reseaux a{
    color:#4da3ff;
  }

}


/* PAGE */
.page{
  max-width:1100px;
  margin:auto;
  padding:20px;
}

/* PROFIL MOBILE */
.profil{
  display:flex;
  flex-direction:column;
  gap:30px;
  background:white;
  padding:25px;
  border-radius: 15px;
}

/* TABLETTE */
@media (min-width:768px){

  .profil{
    flex-direction:row;
    align-items:flex-start;
  }

  .profil-gauche{
    flex:0 0 30%;
    text-align:left;
  }

  .profil-droite{
    flex:1;
  }

  .avatar{
    margin-left:0;
  }

  .reseaux{
    justify-content:flex-start;
  }

}

/* GRAND ECRAN */
@media (max-width:1100px){

  .profil{
    padding:40px;
    gap:50px;
  }

  .profil-gauche{
    flex-basis:35%;
  }

  .competences{
    gap:12px;
  }

  .section:last-child{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
  }

}

/* COLONNES */
.profil-gauche{
  text-align:center;
}

.profil-droite{
  display:flex;
  flex-direction:column;
  gap:30px;
}

.section{
    margin-bottom: 0;
}

/* AVATAR */
.avatar{
  width:120px;
  height:120px;
  border-radius:50%;
  background:#d412c4;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:40px;
  margin:auto;
  margin-bottom:15px;
}

/* TITRES */
h1{
  font-size:26px;
  margin-bottom:5px;
}

.titre-poste{
  color:#081966;
  margin-bottom:16px;
  letter-spacing: 0.5px;
}

.bio{
  margin-bottom:15px;
}

/* RESEAUX */
.reseaux{
  display:flex;
  justify-content:center;
  gap:15px;
  flex-wrap: wrap;
}

.reseaux a{
  text-decoration:none;
  color:#0077cc;
  font-weight:500;
  display: block;
  border-radius: 15px;
  font-size: 0.8125rem;
  padding:  3px 16px;
}

/* SECTIONS */
.section{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.section h2{
    font-size: 1px;
    text-transform: uppercase;
    border-bottom: 2px solid #110eca;
    font-size:20px;
}

/* COMPETENCES */
.competences{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  color: #110eca;
}

.tag{
  background:#eee;
  padding:6px 12px;
  border-radius:20px;
  font-size:14px;
}

/* PROJETS */
.projet{
  background:#f9f9f9;
  padding:15px;
  border-radius:8px;
  position: relative;
}

.projet h3{
  margin-bottom:5px;
}

.statut{
  display:inline-block;
  margin-top:10px;
  font-size:13px;
  padding:4px 10px;
  border-radius:12px;
}

.statut-termine{
  background:#d4edda;
  color:#2e7d3280;
}

.statut-en-cours{
  background:#fff3cd;
  color:#503911c5;
}










