*{
    box-sizing: border-box;
    width: 0;
    margin: 0;
    padding: 0;
}


header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    padding: 0 16px;
}

.logo{
    font-size:  1.5em; 
    font-weight: bold;
    letter-spacing: 2px;
    color: #000;
}